<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <H1> It's The Juice </H1>
        <hr/>

      </div>
    </div>
    
    <div class="row">
      <div class="large-9 columns">
        <%= yield %>
        <hr/>
        <h3>Recent Articles</h3>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>
      </div>
    
      <aside class="large-3 columns">

        <h4>Tags</h4>
        <ul class="side-nav">
          <% blog.tags.each do |tag, articles| %>
            <li><a href="#{tag_path(tag)}"%><%= tag %> (<%= articles.size %>)</a></li>
          <% end %>
        </ul>

        <h4>By Year</h4>
        <ul class="side-nav">
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><a href="#{blog_year_path(year)}"%><%= year %> (<%= articles.size %>)</a></li>
          <% end %>
        </ol>
      </aside>
    </div>
  </body>
</html>

